<div class="container">
  <div class="todo-list">
    <div class="input-group">
      <input #newTask type="text" placeholder="Todo" />
      <button (click)="add(newTask.value)" class="add-button">+</button>
      <!-- #newTask is called local reference -->
    </div>
    <table>
      <tr class="even" *ngFor="let task of tasks">
        <td>
          <pre>
            {{ task }}
          </pre>
        </td>
        <td>
          <button (click)="remove(task)" class="remove-button">X</button>
          <button (click)="taskIsDone(task)" class="done-button">Done</button>
        </td>
      </tr>
    </table>
  </div>
</div>
